.work-container {
    padding: 40px 20px;
    background-color: #050505;
    text-align: center;
    overflow: hidden;
  }
  
  .project-heading {
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: #333;
  }
  
  .project-container {
    display: flex;
    width: calc(220px * 10); /* Adjust based on card width and number of cards */
    animation: scroll 30s linear infinite;
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-220px * 5)); /* Half of the total width */
    }
  }
  
  .project-card {
    background-color: #000000;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    flex: 0 0 220px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  }
  
  .project-image-container {
    position: relative;
    overflow: hidden;
    padding-top: 60%; /* 3:5 aspect ratio */
  }
  
  .project-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
  }
  
  .project-card:hover .project-image {
    transform: scale(1.1);
  }
  
  .project-content {
    padding: 15px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .project-title {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #fffafa;
  }
  
  .project-description {
    font-size: 1rem; /* Slightly larger font size for readability */
    margin-bottom: 15px;
    color: #f0e6e6;
    flex-grow: 1;
    text-align: justify; /* Justify the text for even alignment on both sides */
    line-height: 1.6; /* Increase line spacing for better readability */
    padding: 10px; /* Add some padding to create space around the text */
    border-radius: 8px; /* Rounded corners for a modern look */
  }
  
  
  .view-button {
    background-color:  #f7a440;
    color: #fff;
    padding: 8px 16px;
    border: 2px solid;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 0.9rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  
  .view-button:hover {
    
        background-color: #ffb75e;
        transform: translateY(-2px);
        box-shadow: 0 5px 15px rgba(247, 164, 64, 0.4);
    
  }