@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{box-sizing:border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit",sans-serif;
}

body {
  background: #000;
}
h1,h4,p,
a{
  color:#fff;
  text-decoration: none;
  
}

ul{
  list-style-type: none;
}
.btn, .btn-light {
  display: inline-block; /* Ensure buttons align side by side */
  padding: 8px 8px;
  font-size: 1rem;
  text-transform: uppercase;
  color: #222;
  border: 2px solid #fff; /* Common white border */
  font-weight: 600;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  width: 150px; /* Set a common width */
  height: 48px; /* Set a common height */
  text-align: center; /* Center text inside buttons */
  line-height: 24px; /* Adjust line height to center text vertically */
}

.btn {
  background: rgb(248, 217, 15);
  color: #222;
}

.btn-light {
  background: transparent;
  color: #fff;
  
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}

.btn-light:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: #222;
  border-color: rgba(255, 255, 255, 0.4);
}
